.Header {
  padding-block: 14px;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 400px) {
      flex-direction: column;
    }
    .Logo {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @media (max-width: 400px) {
        justify-content: center;
      }
    }
    .Search {
      display: none;
      @media (max-width: 400px) {
        display: block;
      }
    }
    .nav {
      width: 100%;
      @media (max-width: 400px) {
        display: none;
      }
      ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li {
          a {
            &:hover {
              color: var(--nav);
            }
          }
        }
        li a.active {
          color: var(--nav);
        }
      }
    }
    .profile_cart {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 20px;
      button.Search {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
      }
      @media (max-width: 400px) {
        display: none;
      }
    }
    .burgerMenu {
      display: none;
      transition: 0.3s;
      @media (max-width: 400px) {
        display: block;
      }
    }
  }
}
