.SinglePageSection {
  padding: 50px 0;

  .header {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
    padding: 20px 0;

    a {
      color: #a73539;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .content {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 50px;

    .images {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      img {
        border-radius: 8px;
        width: 550px;
        height: 600px;
        object-fit: cover;
      }

      .image {
        display: flex;
        gap: 20px;
        img {
          width: 170px;
          object-fit: cover;
          height: 110px;
          border-radius: 4px;
        }
      }
    }

    .info {
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-family: Playfair Display;
        font-size: clamp(20px, 35vw, 45px);
        font-weight: 500;
        color: #562c2c;
      }

      .headLine {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          color: #757575;
          font-family: Lato;
          font-size: 24px;
          font-weight: 400;
        }

        .mark {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          h6 {
            font-family: Lato;
            font-size: 24px;
            font-weight: 400;
            color: #3e3e3e;
          }
        }
      }

      .price {
        del {
          font-family: Lato;
          font-size: 24px;
          font-weight: 500;
          color: #b4b4b4;
        }

        h4 {
          color: #562c2c;
          font-family: SF Pro Text;
          font-size: 32px;
          font-weight: 500;
        }
      }

      .textile {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 10px;
        h5 {
          color: #a73539;
          font-size: 20px;
          font-weight: 500;
        }
        h4 {
          color: #ba9b86;
          font-family: Inter;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .description {
        color: #b4b4b4;
        font-family: Inter;
        font-size: 20px;
        font-weight: 500;
        width: 510px;
      }

      .sizes {
        h5 {
          color: #a73539;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
}
