.SinglePageSection {
  padding: 50px 0;
  width: 100%;
  .review {
    margin-top: 50px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    padding-bottom: 10px;

    a {
      color: #a73539;
      font-size: clamp(12px, 2vw, 15px);
      font-weight: 500;
    }
    a:hover {
      text-decoration: underline;
    }
    img {
      display: none;
    }
  }

  .content {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 50px;

    .images {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      max-width: 550px;
      width: 100%;

      .mainImg {
        width: 100%;
        height: 600px;

        img {
          border-radius: 8px;
          object-fit: cover;
          width: 100%;
          height: 600px;
        }
      }

      .thumbnails {
        display: flex;
        align-items: start;
        justify-content: start;
        gap: 10px;
        width: 100%;
        overflow-x: scroll;
        scrollbar-width: none; /* Для Firefox */
        -ms-overflow-style: none; /* Для Internet Explorer и Edge */

        .thumbnail {
          display: flex;
          cursor: pointer;
          border: 2px solid transparent;
          border-radius: 8px;

          &.activeThumbnail {
            border-color: #a73539;
          }

          img {
            width: 180px;
            height: 220px;
            object-fit: cover;
            border-radius: 8px;
          }
        }
      }
    }

    .info {
      width: 100%;
      height: auto;
      display: flex;
      align-items: start;
      justify-content: start;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-size: clamp(20px, 25vw, 45px);
        font-weight: 500;
        color: #562c2c;
      }

      .headLine {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
          color: #757575;
          font-size: clamp(12px, 15vw, 24px);
          font-weight: 400;
        }

        .mark {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;

          h6 {
            font-size: 24px;
            font-weight: 400;
            color: #3e3e3e;
          }
        }
      }

      .price {
        padding-bottom: 30px;
        del {
          font-size: 22px;
          font-weight: 500;
          color: #b4b4b4;
        }

        h4 {
          color: #562c2c;
          font-size: 32px;
          font-weight: 500;
        }
      }
      .colors {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 15px;
        h5 {
          font-size: 20px;
          font-weight: 400;
          color: #a73539;
        }
      }

      .textile {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        h5 {
          color: #a73539;
          font-size: 20px;
          font-weight: 500;
        }
        h4 {
          color: #ba9b86;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .description {
        display: flex;
        align-items: end;
        justify-content: start;
        margin-bottom: 100px;
        p {
          color: #b4b4b4;
          font-size: 20px;
          font-weight: 500;
          line-height: 27px;
          span {
            color: rgb(68, 68, 68);
            margin: 0 10px;
          }
        }
      }

      .quantity {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 16px;
        margin-top: auto;

        h3 {
          font-size: 20px;
          font-weight: 400;
          color: #a73539;
        }
        .groupOfBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 24px;
          .counter {
            display: flex;
            align-items: start;
            justify-content: center;
            gap: 12px;
            border: 1px solid #a73539;
            border-radius: 8px;
            padding: 13px 15px;
            button {
              background: none;
              color: #a73539;
              padding: 10px;
              outline: none;
              cursor: pointer;
              border: none;
              font-weight: 700;
              font-size: 20px;
              &:disabled {
                color: gray;
                cursor: not-allowed;
              }
            }
            span {
              font-size: 25px;
              font-weight: 500;
              color: #a73539;
            }
          }

          button.cart {
            background: #a73539;
            padding: 23px;
            width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            border-radius: 8px;
            color: white;
            cursor: pointer;
            font-size: 22px;
            font-weight: 500;
            
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .SinglePageSection {
    .review {
      margin-top: 10px;
    }
    .header {
      display: flex;
      align-items: center;
      justify-content: start;

      img {
        display: block;
        width: 20px;
      }
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .images {
        width: 100%;
        .image {
          display: none;
        }
        .mainImg {
          width: 100%;
          height: 400px;

          img {
            width: 100%;
            height: 400px;
          }
        }
        .thumbnails {
          display: flex;
          justify-content: space-between;
          .thumbnail {
            img {
              width: 100px;
              height: 120px;
            }
          }
        }
      }

      .info {
        gap: 10px;

        h1 {
          font-size: 25px;
        }

        .price {
          h4 {
            font-size: 20px;
          }
          del {
            font-size: 18px;
          }
        }

        .description {
          width: 100%;
          margin-bottom: 0;

          p {
            width: 99%;
            font-size: 16px;
          }
        }
        .colors {
          h5 {
            font-size: 20px;
          }
        }

        .textile {
          h5 {
            font-size: 20px;
          }
          h4 {
            font-size: 18px;
          }
        }

        .quantity {
          h3 {
            font-size: 20px;
          }
          .groupOfBtn {
            .counter {
              padding: 5px 13px;
            }
            .cart {
              width: 200px;
              padding: 15px 10px;
            }
          }
        }
      }
    }
  }
}
