.AboutComponent {
  padding-block: 100px;

  .AboutUsSection {
    .content {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      gap: 100px;
      .first {
        padding-block: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: 10px;

        p {
          font-family: Inter;
          font-size: 13px;
          font-weight: 400;
          line-height: 15.73px;
          letter-spacing: 0.1em;
          text-align: center;
        }
        h1 {
          font-family: Playfair Display;
          font-size: clamp(25px, 4vw, 40px);
          font-weight: 500;
          line-height: 53.32px;
          text-align: center;
          width: clamp(300px, 50%, 750px);
          height: 106px;
        }
      }

      .thirst {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 140px;
        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: Hug (702px) px;
          height: Hug (216px) px;
          padding: 0px 70px;
          gap: 36px;
          h1 {
            font-family: Playfair Display;
            font-size: clamp(20px, 3vw, 27px);
            font-weight: 500;
            line-height: 35.99px;
            letter-spacing: 0.04em;
          }
          p {
            width: clamp(300px, 50%, 562px);
            height: auto;
            gap: 0px;
            opacity: 0px;

            font-family: Inter;
            font-size: clamp(18px, 2vw, 20px);
            font-weight: 400;
            line-height: 24.2px;
          }
        }
      }
      .fourth {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-bottom: 100px;
        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: Hug (702px) px;
          height: Hug (216px) px;
          padding: 0px 70px;
          gap: 36px;
          h1 {
            font-family: Playfair Display;
            font-size: clamp(20px, 3vw, 27px);
            font-weight: 500;
            line-height: 35.99px;
            letter-spacing: 0.04em;
          }
          p {
            width: clamp(300px, 50%, 562px);
            height: auto;
            gap: 0px;
            opacity: 0px;

            font-family: Inter;
            font-size: clamp(18px, 2vw, 20px);
            font-weight: 400;
            line-height: 24.2px;
          }
        }
      }
    }
  }
  .secondSection {
    height: auto;
    background: #e6e1e0;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      gap: 100px;

      .second {
        display: flex;
        align-items: center;
        justify-content: space-around;
        .title {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: Hug (702px) px;
          height: Hug (216px) px;
          padding: 0px 70px;
          gap: 36px;
          h1 {
            font-family: Playfair Display;
            font-size: clamp(20px, 3vw, 27px);
            font-weight: 500;
            line-height: 35.99px;
            letter-spacing: 0.04em;
          }
          p {
            width: clamp(300px, 50%, 562px);
            height: auto;
            gap: 0px;
            opacity: 0px;

            font-family: Inter;
            font-size: clamp(18px, 2vw, 20px);
            font-weight: 400;
            line-height: 24.2px;
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .AboutComponent {
    .AboutUsSection {
      .content {
        .first {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .thirst {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;

          .title {
            h1 {
              padding-top: 20px;
            }
            p {
              text-align: center;
            }
          }
        }
        .fourth {
          display: flex;
          flex-direction: column;
          align-items: center;
          .title {
            h1 {
              padding-top: 20px;
              text-align: center;
              width: 130%;
            }
            p {
            }
          }
        }
      }
    }
    .secondSection {
      .content {
        .second {
          display: flex;
          flex-direction: column;
          align-items: center;
          .title {
            h1 {
              padding-top: 20px;
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
