.TabBar {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: #ffff;
  width: 100%;

  .content {
    display: none;
    .block {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      span {
        color: maroon;
      }
    }
  }
}

@media (max-width: 750px) {
  .TabBar {
    // display: flex;
    .content {
    }
  }
}
